<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script>
            var result = confirm("회원가입에 성공하셨습니다.");
            if(result){
                document.location.href="../login/login";
            }
            else{
                document.location.href="../login/login";
            }
        </script>
    </head>
</html>